{% load static %}
<nav class="navbar navbar-expand-lg sticky-top navbar-light pr-5 pl-5 bg-light">
	<a class="navbar-brand ml-5 mr-5" href="{% url 'home'%}">
		<img
			src="{% static 'images/favicon.ico'%}"
			alt="Logo"
			style="width: 40px"
		/>
	</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<form class="form-inline my-2 my-lg-0">
			<input
				class="form-control form-control-sm mr-sm-2"
				type="search"
				placeholder="Search"
				aria-label="Search"
			/>
			<button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">
				Search
			</button>
		</form>
		<ul class="navbar-nav ml-auto mr-5">
			{% if request.user.is_authenticated %}
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					Boni
					<img class="rounded-circle nav-img"
                        src="{% static 'images/test.jpg'%}"
						style="width:25px;height:25px"
                        alt="">
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Profile</a>
					<a class="dropdown-item" href="#">Edit profile</a>
					<a class="dropdown-item text-danger" href="{% url 'logout' %}">logout</a>
					
				</div>
			</li>
			<li class="nav-item ml-3 btn btn-info" d="site" data-toggle="modal" data-target=".bd-example-modal-xl">
				Create
			</li>
			{% else %}
			<li class="nav-item">
				<a
					href="{% url 'login' %}"
					class="btn btn-theme btn-sm btn-primary text-white"
				>
					Login</a
				>
			</li>
			{% endif %}

		
			
		</ul>
		
	</div>
</nav>
