{% extends 'main.html' %}
{% load crispy_forms_tags %} 

 {% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <img src="https://res.cloudinary.com/twin221/{{neighbor.picture}}" class="img-fluid">
            <h3>name: {{neighbor.name}}</h3>
            <p>Found in: {{neighbor.location}}</p>
            <h5>contact information</h5>
            <hr>
            <p>Health contact: {{neighbor.health_contact}}</p>
            <p>Administration contact: {{neighbor.police_contact}}</p>
    </div>
    <div class="col-md-4">
        
    </div>
    </div>
	

</div>

{% endblock %}
